# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Dataset
dataset/

# Generated crop dataset
Road_Damage_Crops/

# Model files
models/*.keras

# Output files
outputs/

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db